

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  .header{
    margin-right: 808px;
    margin-top: 11px;
    cursor: pointer;
  }
  .gif{
    height: 100px;
    margin-right: 300px;
    margin-top: -100px;
  
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
  }
  .text-buttons{
    align-items: center;
    justify-content: space-between;
  }
  
  button {
    min-width: 70%;
    border-radius: 16px;
    justify-content: center;
    color: #fff;
    border: 2px solid #58cc03;
    border-bottom: 6px solid #3e8f04;
    margin: 10px;
    transition: all 0.1s;
    padding: 12px 16px;
    background-color:#58cc03;
    cursor: pointer;
  }
  .text-buttons{
   margin-left: 200px;
  }
  #login:hover {
    background-color: #79e72a;
    border-color: #58cc03;
    justify-content: center;
  }
 .text-buttons2{
    align-items: center;
    color: #1695df;
    background-color: #fffcfc;
    border-color: #cfc8c8;
  }
  #login2:hover {
    background-color: #f1e9e9;
    color: #1695df;
    border-color: #e6d7d7;
    justify-content: center;
  }

  button:active {
    border-bottom: 2px solid #58cc03;
  }

  .text-buttons{
    margin-left: 800px;
   }
   .text{
    margin-left: 650px;
   }
   #texto{
    margin-right: 400px;
    margin-top: 70px;
   }

   #text1{
    margin-left: 700px;
    margin-top: 250px;
   }

   #text2{
    margin-right: 390px;
    margin-top: 250px;
   }
   #text3{
    margin-left: 390px;
    margin-top: 300px;
   }
   /*propiedades del titulo */
   #titulo1{
    align-items: center;
    margin-top: 100px;
   }

   .gif2{
    margin-top: 250px;
    margin-right: 500px;
  
  }
   /*propiedades del boton de prueba gratuita*/
  #prueba{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-left:600px;
    min-width: 30%;
  }
/*propiedades del texto 4*/
  #text4{
    margin-right: 430px;
    margin-top: 250px;
   }
/*propiedades del boton para el texto 4*/
   #ingles{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-right:700px;
    min-width: 30%;
  }
/*propiedades del texto 5*/
   #text5{
    margin-left: 430px;
    margin-top: 250px;
   }
   /*propiedades del boton para el texto 5*/
   #ingles2{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-left:600px;
    min-width: 30%;
  }
   /*propiedades del texto 6*/
   #text6{
    margin-right: 430px;
    margin-top: 250px;
   }

   #ingles3{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-right:700px;
    min-width: 30%;
  }


   #text7{
    margin-left: 430px;
    margin-top: 250px;
   }

   #ingles4{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-left:600px;
    min-width: 30%;
  }

   #titulo2{
    align-items: center;
    margin-top: 100px;
   }


   #navbar img{
    overflow: hidden;
    background-color: #fff;
    
  }
  
  /* Navbar links */
  #navbar {
    margin-right: 988px;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  /* Page content */
  .body {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0px;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

  

  
   
   
 
  
 