@import url(https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular);
@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);


body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  /* estilo para el menu de arriba a la derecha*/
  .enca-right {
    float: right;
  }
  .btnenca{
    align-items: center;
    display: flex;
    white-space: nowrap;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: #ffffff;
  }
  .spanenca{
    font-family: "Bahnschrift SemiBold";
    font-weight: bolder;
    color: rgb(70, 68, 68);
    opacity: 0.5;
    font-size:16px;
    letter-spacing: -0.15px;
    margin-top: -4.5px;
    margin-left: 550px;
    transition: none;
  }

  /*FIN DEL MENU*/

/*Posicion de todo el encabezado*/
  .header{
 
    margin-right: 405px;
    margin-top: 11px;
    cursor: pointer;
  }
  /*FIN DEL encabezado*/

  /*posicionamiento y tamaño del gif principal*/
  .gif{
    height: 100px;
    margin-right: 300px;
    margin-top: -100px;
  }
  /*FIN DEL gif principal*/

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
  }
  .text-buttons{
    align-items: center;
    justify-content: space-between;
  }
  
  button {
    min-width: 100%;
    border-radius: 16px;
    justify-content: center;
    color: #fff;
    border: 2px solid #58cc03;
    border-bottom: 6px solid #3e8f04;
    margin: 10px;
    transition: all 0.1s;
    padding: 14px 16px;
    background-color:#58cc03;
    cursor: pointer;
  }
  .text-buttons{
   margin-left: 200px;
  }
  
  #login:hover {
    background-color: #79e72a;
    border-color: #58cc03;
    justify-content: center;
  }
 .text-buttons2{
    align-items:center;
    color: #1695df;
    background-color: #fffcfc;
    border-color: #cfc8c8;
  }
 
  #login2:hover {
    background-color: #f1e9e9;
    color: #1695df;
    border-color: #e6d7d7;
    justify-content: center;
  }

  button:active {
    border-bottom: 2px solid #58cc03;
  }

  .text-buttons{
    margin-left: 500px;
   }
   .text{
    margin-top: 170px;
    margin-left: 500px;
    color: #0c0c0cb7;
   }
   
   #titulo1{
    align-items: center;
    margin-top: 100px;
    color: #58cc02;
    font-size: 255%;
   }
   #texto{
    margin-right: 500px;
    margin-top: 50px;
    font-family: 'Feather Bold';
    color: #808080;
   }
   #gify2{
    width: 100px;
    height: 30px;
    margin-left: 700px;
    margin-top: 100px;
   }
   /*propiedades del texto 3 con su respectivo titulo y del boton que esta debajo*/
   #titulo2{
    color: #58cc02;
    font-size: 255%;
   } 
   #text1{
    margin-left: 490px;
    margin-top: 130px;
    font-family: 'Feather Bold';
    color: #808080;
   }
    #gify3{
    width: 100px;
    height: 0px;
    margin-right: 600px;
    margin-top: 100px;
   }
   
   #titulo3{
    color: #58cc02;
    font-size: 255%;
   } 
   #text2{
    margin-right: 450px;
    margin-top: 150px;
    font-family: 'Feather Bold';
    color: #808080;
   }
   #gify4{
    width: 100px;
    height: 0px;
    margin-left: 700px;
    margin-top: 100px;
   }

   #titulo10{
    align-items: center;
    margin-top: 100px;
    color: #0c0666;
    font-family: 'Feather Bold';
    font-size: 255%;
   } 
/*propiedades del texto 4 con su respectivo titulo y del boton que esta debajo*/
   #titulo4{
    color: #58cc02;
    font-size: 255%;
   } 
   #text3{
    margin-left: 620px;
    margin-top: 300px;
    font-family: 'Feather Bold';
    color: #808080;
   }
   /*propiedades del titulo */


   
   #gify{
    height: 100px;
    margin-right: 300px;
    margin-top: 100px;
   }
  #prueba{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-top: 150px;
    margin-left:600px;
    min-width: 30%;
  }

 /*propiedades del texto 4 con su respectivo titulo y del boton que esta debajo*/
 #titulo5{
  color: #58cc02;
  font-size: 255%;
 } 
  #text4{
    margin-right: 490px;
    margin-top: 350px;
    font-family: 'Feather Bold';
    color: #808080;
   }
   
   #ingles{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-right:700px;
    min-width: 30%;
  }
 /*propiedades del texto 5 con su respectivo titulo y del boton que esta debajo*/
 #titulo6{
  color: #58cc02;
  font-size: 255%;
 } 
   #text5{
    margin-left: 545px;
    margin-top: 250px;
    font-family: 'Feather Bold';
    color: #808080;
   }
   #ingles2{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-left:600px;
    min-width: 30%;
  }

   /*propiedades del texto 6 con su respectivo titulo y del boton que esta debajo*/
   #titulo7{
    font-size: 255%;
    color: #58cc02;
   } 
   #text6{
    margin-right: 480px;
    margin-top: 250px;
    font-family: 'Feather Bold';
    color: #808080;
   }
   #ingles3{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-right:700px;
    min-width: 30%;
  }

 /*propiedades del texto 7 con su respectivo titulo y del boton que esta debajo*/
 #titulo8{
  color: #58cc02;
  font-size: 255%;
 }
   #text7{
    margin-left: 540px;
    margin-top: 250px;
    font-family: 'Feather Bold';
    color: #808080;
   }
   #ingles4{
    background-color: #ffffff;
    color: #1695df;
    border-color: #e6d7d7;
    margin-left:600px;
    min-width: 30%;
  }

   #titulo9{
    align-items: center;
    margin-top: 100px;
    color: #58cc02;
    font-family: 'Feather Bold';
    font-size: 255%;
   }


   #navbar img{
    overflow: hidden;
    background-color: #fff;
    
  }
  
  /*propiedades del sticky*/
  #navbar {
    height: 100px;
    margin-right: 988px;
    display: flexbox;
    padding: 10px;
    text-decoration: none;
  }

  .body {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: -13px;
    width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
  


  

  
   
   
 
  
 